/*



*/

#footer .toolsforteachers {
  display: none;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400');
/*

Colors
orange: #ef5b2f
blue: #59ADC5

*/

html {
  font-size: 120%;
}

img {
  max-width: 100%;
}
a, a:visited {
  color: #06c;
}

a:hover {
  color: #ef5b2f;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  background-color: #fafafa;
}
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.times {
  padding: 1rem 2rem;
  background-color: #eee;
}
.times h1,
.times h2,
.times h3,
.times h4,
.times h5,
.times h6,
.times li,
.times p,
.times {
  font-family: serif !important;
}

#header {
  background-color: #59ADC5;
  padding: 1rem 2rem;
  display: flex;
}

#header .thislesson {
  justify-content: flex-start;
  flex: 1;
  align-self: flex-end;
  padding-left: 3.4rem;
}

#header .thiscourse {
  justify-content: flex-end;
  align-self: flex-end;
}

#header h1 {
  font-weight: 400;
  color: #fff;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

#header h1 a {
  color: #fff;
  font-size: 75%;
  background-color: #ef5b2f;
  border:2px solid #fff;
  border-radius: .2rem;
  text-decoration: none;
  padding: .1rem .3rem .1rem .3rem;
  margin-left: -3.4rem;
}

#header h1 a:hover {
  color: #ef5b2f;
  background-color: #fff;
}


#header h5 {
  font-weight: 400;
  color: #000;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 0 -.6rem;
}

#header h3 {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

#header h3 a {
  color: #0a5d75;
  text-decoration: none;
  border-left:1px solid #b9dde7;
  padding-left: .5rem;
  margin-left: .5rem;
}

#content {
  padding: 1rem 2rem 4rem 2rem;
  max-width: 1100px;
}

#exception #content {
  max-width: inherit;
}


#content:after {
content:"";
display:table;
clear:both;
}

#footer {
  border-top: 1px solid #ccc;
  background-color: #f0f0f0;
  padding: 2rem 2rem;
  display: flex;
}

#footer h5, #footer h6 {
  font-size: .8rem;
  color: #666;
  align-self: flex-end;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

#footer h5 {
  flex: 1;
  justify-content: flex-start;
}

#footer h6 {
  justify-content: flex-end;
}

#footer a {
  color: #666;
}

#footer a:hover {
  color: #000;
}


#all #header .thislesson {
  padding-left: 0;
}


#allclasses {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

#allclasses li {
  margin: 0;
  padding: .25rem 1rem;
  position: relative;
}

#allclasses li a {
  text-decoration: none;
  margin-right: 10rem;
  display: block;
}

#allclasses li:nth-child(odd) {
  margin: 0;
  padding: .25rem 1rem;
  background-color: #f0f0f0;
}

li time {
  margin-left: 1rem;
  background-color: #fff;
  border:1px solid #ccc;
  color: #666;
  padding: .1rem .3rem;
  font-size: 65%;
  position: absolute;
  right: .5rem;
  top:.5rem;
}

.threeimages {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.threeimages img {
  align-self: flex-start;
}

.img1 {
  width: 45%;
}

.img2 {
  width: 33%;
}

.img3 {
  width: 16%;
}


/* styles for PRE */

pre {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  line-height: 1.3;
  padding: 2rem;
  margin: 1rem 0 3rem 0;
  border: 1px solid #000;
  background-color: #212821;
  color: #eee;
  white-space: pre-wrap;
}

pre h1, pre h2, pre h3, pre h4, pre h5, pre h6, pre p, pre li {
  font-weight: 400;
  padding: 0;
  margin: 0;
}

pre, pre p, pre li {
  font-size: 1.3rem;
  line-height: 1.5;
}

pre li {
  line-height: 1;
}

/* styles for text */
h1, h2, h3, h4, h5, h6 {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1.5em;
  margin-bottom: .2em;
}
h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.1rem;
}

p, li {
  font-size: 1.3rem;
  line-height: 1.3;
}

#footer .toolsforteachers a {
  color: #ef5b2f;
}

#embedpage {
  margin: 1rem 0 3rem 0;
  border: 1px solid #000;
}

h2.colored {
  color: #ef5b2f;
  margin-top: 4rem;
}

/* intro slide */

#content.bgphoto {
  background-image: url(../img/01_redi.jpg);
  background-image: url(../img/cover.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40rem;
}

#content.bgphoto div {
  width: 40%;
  margin: 4rem 1rem 0 auto;
  background-color:rgba(0,0,0,.6);
  color: #fff;
  padding: 1rem 2rem;
  float: left;
}

/* formatting style */


.space50px {
  height: 3.125rem;
  display: block;
}

.space100px {
  height: 6.25rem;
  display: block;
}
.block {
  display: block;
}

.pre {
  font-family:monospace;
  font-size: 140%;
  font-weight: bold;
}

.orange {
  color: #ef5b2f;
}

.floatright {
  float: right;
  margin: 0 0 1rem 2rem;
}

.floatright:after {
	content:"";
	display:table;
	clear:both;
}

.img50 {
  width: 50%;
}
.img25 {
  width: 25%;
}
hr {
  display: block;
  clear: both;
  margin: 0 0 3rem 0;
  border: 0;
  height: 3rem;
  border-bottom:1px solid #59ADC5;
}

.externallinks {
  margin: 2rem 0;
  padding: 0 2rem 2rem 2rem;
  background-color: #FFFFA5;
  border: 2px solid #dda;
  display: inline-block;
  box-shadow: .2rem .5rem .75rem #999;
}

.externallinks li {
  margin-bottom: .5rem;
}

.externallinks span {
  margin-left: 2rem;
  padding: .1rem .3rem;
  border-radius: .2rem;
  font-size: 60%;
  background-color: #dda;
}

.intro {
  margin-bottom:5rem;
  max-width: 1100px;
}

#exception .w3-display-container {
  max-width: inherit;
}

.width90 {
  width: 90%;
  margin: 5rem 0;
}
/*
.twocols .col {
  width: 46%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;

}
*/
.fourlayouts {
  width: 100%;
}
.fourlayouts img {
  width: 48%;
  margin: 1rem 2% 1rem 0;
  border: 1px solid #000;
  display: inline-block;
}

.fourlayouts img:nth-child(2n+2) {
  margin-right: 0;
}


table {
  margin:1rem 0;
  border:0;
  border-top:3px solid #bbb;
  width:100%;
  border-collapse: collapse;
}

table td, table th {
  text-align:left;
  padding:.5rem;
  border: 0;
}

table caption {
  font-weight: 700;
  text-align: left;
  padding: .5rem 0;
}

tr {
  background-color: #f8f6f2;
}

tr:nth-child(odd) {
  background-color: #f0e9e0;
}

/* different lessons */

h4.lesson10example {
  color: #06c;
  font-style: italic;
}

.code11 p {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  color: #990000;
}

.code11 div {
  background-color: #eeeeaa;
  padding: 16px 24px;
  margin: 32px auto;
  border: 3px solid #00cc00;
  width:50%;
}

.fontawesomebox {
  padding: 1rem;
  background-color: #c5e0e8;
  border-left: 6rem solid #ef5b2f;
  color: #000;
}

.fontawesomebox a {
  color: #ef5b2f;
}


.fontawesomebox.styled .fa {
  font-size: 3rem;
  margin-left: 1rem;
}
.fontawesomebox.styled .fa-facebook-square {
  color: #3b5998;
}
.fontawesomebox.styled .fa-twitter-square {
  color: #38A1F3;
}
.fontawesomebox.styled .fa-instagram {
  color: #fb3958;
}
.fontawesomebox.styled .fa-meetup {
  color: #e51937;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }
  p, li {
    font-size: 1.1rem;
    line-height: 1.3;
  }
	pre {
	  padding: 1rem;
	}


	pre, pre p, pre li {
	  font-size: 1rem;
	  line-height: 1.5;
	}


	#header {
	  padding: 1rem 1rem;
	}


	#header h1 {
	  font-size: 1.6rem;
	}

	#header h5,
	#header h3 {
	  font-size: .85rem;
	}

	#content {
	  padding: 1rem 1rem 3rem 1rem;
	}

	#footer {
	  padding: 1rem 1rem;
	  display: block;
	}
	#footer h5, #footer h6 {
	  font-size: .85rem;
	}

	#footer h5 {
		margin-bottom: .5rem;
	}

}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.1rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: .85rem;
  }
  p, li {
    font-size: 1rem;
    line-height: 1.3;
  }
	pre {
	  padding: 1rem;
	}


	pre, pre p, pre li {
	  font-size: .85rem;
	  line-height: 1.5;
	}


	#header {
	  padding: .5rem 1rem;
		display: block;
	}
#header .thislesson {
	margin-bottom: .2rem;
}

	#header h1 {
	  font-size: 1.1rem;
	}

	#header h5,
	#header h3 {
	  font-size: .75rem;
	}

	#content {
	  padding: 1rem 1rem 3rem 1rem;
	}



	#footer {
	  padding: 1rem 1rem;
	  display: block;
	}
	#footer h5, #footer h6 {
	  font-size: .75rem;
	}

	#footer h5 {
		margin-bottom: .5rem;
	}

}
